*{
  margin: 0;
  /* color: white; */
  /* background-color: black; */
  /* position:inherit */
  font-family: Arial, Helvetica, sans-serif;
  cursor: crosshair;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

html {
  background: black;
  height: 100%;
}


.container {
  background-color: black;
  height: 100%;
  
}


/*  
li {
  list-style-type: none;
  background-color: gray
} */

a {
  text-decoration: none;
}


/* Navbar Styles */
.navbar {
  display: flex;
  top: 0;
  justify-content: space-between;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 10vh;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 1080px;
  margin: auto;
  color: white;
  
} 

.logo-container {
  margin-left: -20px;

}

.paradigm-logo {
  width: 300px;
  
}

.navLink {
  color: white;
}

#logo{
  margin-right: -100px;
}



nav .logo {
  font-size: 22px;
  font-weight: 700; 
}

/* Cart Styles */
/* .col {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between
} */

.col-2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  padding-left: 5px;
}
.cart-item-img {
  height: 100px;
  width: 100px;
}

.col {
  display: flex;
  justify-content: space-around;
}

.qty {
  margin-left: 30px;

}

.qty-buttons {
  display: grid;
  grid-template-columns: 20px 40px 20px;
  border: 2px;
}

.item-qty {
  align-items: center;
  justify-content: center;
}

.remove1, .add1 {
  height: 40px;
  width: 20px;
  margin: auto;
}


.remove, .add {
  color: black;
  background: white;
  border-radius: 10px;
  height: 30px;
  width: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* border: white; */
}

.row{
  background-color: white;
  display: grid;
  grid-template-columns: auto;
}

.row-2 {
  display: grid;
  grid-template-columns: auto;
}

.cart {
  /* display: flex; */
  /* background: #f3f3f3; */
  justify-content: space-between;
  position: relative;
  
  margin-left: 20px;
  margin-right: 30px;
  /* min-height: 8vh; */
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 1080px;  */
   /* margin: auto; */

  }

.cart-content {
  /* display: grid; */
  line-height: 2;
  position: absolute;
  min-width: 164px;
  padding: 12px 16px 10px 10px;
  z-index: 1;
  margin-top: 25px;

}
.cart-icon {
  background: black;
  color: white;
  border: white;
  height: 0;
  /* margin-right: 2px; */


}

.expand  {
  display: grid;
  color: black;
  background-color: white;
  position: absolute;
  z-index: 1000;
  width: 400px;
  top: 0;
  right: 0;
  /* padding: 25px; */
  position: fixed;
  overflow: auto;
  height: 100%;
  transition: all ease-in-out 0.3s;
  right: 0;
  padding: 20px;
}

.shrink {
  display: grid;
  color: black;
  background-color: white;
  position: absolute;
  z-index: 1000;
  width: 350px;
  top: 0;
  right: 0;
  padding: 25px;
  position: fixed;
  overflow: auto;
  height: 100%;
  transition: all ease-in-out 0.3s;
  right: -400px;
}

.items-count {
  
  color: black;
  /* position: fixed; */
  z-index: 3;
  margin: -30px -35px 10px 15px;
  padding: 0px 0px 0px 10px;
  border-color: white;
  background: white;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  width: 20px;
  height: 20px;
}

.subtotal {
  display: grid;
  margin-bottom: 100px;
}

.price, .tax, .shipping, .total-price {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}


.summary-btn {
  /* margin: auto; */
  padding: 40px;
  height: 100%;
}

.summary-btn-btn {
  /* display: none; */
  background-color: rgb(89, 89, 250);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 1px; */
  
  font-size: large;
  height: 30px;
  width: 300px;
  position: absolute;
  bottom: 50px;
  
}

/* Summary */

/* .button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -104.5px; /*104.5px is half of the button's width
} */

/* Carousel Styles */

.carousel {
  width: 1080px;
  min-width: 10%;
  height: 30%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0px;
  background-size: contain;
  /* margin-top: 50px; */
  
}

.carousel-item {
  width: 80%;
  min-width: 100%;
  height: 400px;
  transition: .5s;
}

#right-arrow, #left-arrow{
  background-color: transparent;
  color: black;
  font-size: 1vw;

}

.car-buttons {
  width: 900px;
}

#goLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  background: none;
  border: transparent;
  transition: .5s;
}
#goLeft:hover {
  background: rgba(0, 0, 0, .356)
}

#goRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  background: none;
  border: transparent;
  transition: .5s;
}

#goRight:hover{
  background: rgba(0, 0, 0, .356);
}

#right-arrow:hover, #left-arrow:hover {
  color: whitesmoke
}


.imgStyles {
  width: 1080px;
  height: auto;
  padding: 0;
}



/* Card Styles */

.shop-title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.shop-logo {
  width: 600px;
}

.shop-logo-container {
  
}

/* main {
  display: grid;
  height: 367x;
  width: 300px;
  justify-content: center;
} */


.product-container {
  /* display: flex; */
  display: grid;
  max-width: 50%;
  grid-template-columns: 33.3% 33.3% 33.3%; 
  margin: 0 auto;
  grid-gap: 50px;
  margin-top: 50px;
  border-radius: 5px;
  justify-content: center;
  
}

.guitar-container {
  border-radius: 5px;
  
}

/* .container-cards {
  max-width: 100%;
  height: 400px;
} */

/* .container {
  width: 100%
} */
.shop-title {
  color: white;
}
 
.card-container {
  
  cursor: pointer;
  transition: all 0.3s ease 0s;  
  width: 100%;
  height: auto;
  border-radius: 9px;
  
}

.image-container{
  /* overflow: hidden;  */
  /* position: relative; */
  height: 400px;
  width: 100%;
  /* object-fit: fill; */
}


.guitar-img {
  /* position: fixed; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  
}

.card-title {
  margin-bottom: 20px;
  
  color: black;
  
}

/* .c-title {
  background-color: whitesmoke;
} */

.card-price {
  color: black;
  margin-left: auto;
  padding: 5px;
  
}

 /* .card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
  transition: .5s;
} */

/* .card-content {
  margin: 1rem;
  margin-top: 1rem;
  background-color: whitesmoke;
} */

 h3 {
  margin: 0;
  padding: 0;
} 




.btn button {
  
  color: black;
  border-radius: 20px;
  transition: 0.2s;
  border-color: white;

} 

.card-container, .card-title, .card-price, .btn button, .add-to-cart {
  background-color: rgb(24, 29, 39);
  color: rgb(209, 209, 209);
}



/* responsive to window size */

/* @media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .container-cards {
    grid-column: 2 /span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card-container {
    grid-column-end: span 6;
  }
} */
/* Product Container */






/* @media screen and (max-width: 1366px) {
  .product-container {
    width: 0%;
    display: flex;
    padding: 0;
  }

  .image-container img{
    display: block;
    overflow: none;
    height: 200px;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .product-container {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

/* PRODUCT DETAILS */

.pd-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 500px;
  width: 1800px;
  position: relative;
  padding: 5px 5px 5px 5px;

}

.item-display img {
  width: 400px;
  height: 500px;
  padding: 50px 50px 50px 50px;

  
}

.item-details {
  display: grid;
  color: white;
  padding: 50px 50px 50px 50px;
  

}

.item-details button {
  background-color: #39393b;
  color: white;
  border-radius: 20px;
  transition: 0.2s;
  height: 30px;
  width: 100px;
  align-items:center;

} 


/* About  */

.about {
  color: white;
}

.atitle {
  text-align: center;

}

.about-container {
  /* text-align: center; */
  width: 40%;
  height: 50%;
  margin: auto;
}



/* @media all and (max-width: 1245px) {
  nav {
    display:flex;
    position: relative;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 8vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: auto;
  } 

  .carousel {
    width: 90%;
  }

  .carousel-item {
    width: 200px;
  }

  #goLeft {
    transform: translateY(-50%);
    height: 100%;
  }

  #goRight {
    transform: translateY(-50%);
    height: 100%;
  }

} */

/* @media all and (max-width: 780px) {


  .carousel {
    width: 90%;
  }

  .product-container {
    display: grid;
    grid-template-columns: 100%
  }

  .card-container {
    width: 300px;
  }

}


@media all and (max-width: 460px) {

  nav {
    width: 90%;
  }


  .carousel {
    width: 100%;
  }

 .carousel-item {
   height: 172.5px;
 }

  .product-container {
    display: grid;
    grid-template-columns: 50% 50%;

  }

  .card-container {
    width: 300px;
  }

} */


/* SUMMARY */

.container {
  height: 100%;
}

.checkout-container {
  display: grid;
  grid-template-columns: 60% 20%;
  margin-left: 150px;
  padding: 0;
  height: 100%;
  width: 100%
}

.summary-container {
  color: oldlace;
  width: 80%;
  margin-left: 200px;
  height: 100%;
}

.summary-container h2 {
  position: relative;
  /* margin: auto; */
  /* width: 100%; */
  padding-left: 30px;
}

.summary-container div {
  display: grid;
}

.summary-items{
  width: 100%;
}

.summary-item-container {
  z-index: 1;
  background: oldlace;
  color: black;
  display: grid;
  grid-template-columns: 10% 40% 20% 30%;
  text-align: right;
  align-items: center;
  width: 90%;
  margin: 1px;
  margin-left: 30px;
  padding: 5px;
  border-radius: 5px;
}

.summary-img {
  text-align: left;
}

.item-name {
  text-align: left;
  margin-left: 70px;
  /* padding-left: 40px; */
}

.summary-img img{
  height: 100px;
  width: 100px;

}

.order-summary-container {
  margin-top: 30px;
  background: oldlace;
  border-radius: 5px;
  margin-bottom: 100px;
  text-indent: 15px;
}

.order-summary-container h2{
  text-indent: 15px;
}


 .collective-price, .sum-shipping, .sum-tax, .sum-total {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: 15px;
}

.chkout-btn-container {
  display: relative;
  margin: auto;
  text-align: center;
}

.check-out-btn {
  display: relative;
  height: 40px;
  width: 300px;
  font-size: large;
  background: yellow;
  
}


.add1 div {
  align-items: center;
  justify-content: center;
  /* border: none; */
}

.add1, .remove1 {
  border: none;
}

.remove1 div {
  align-items: center;
  justify-content: center;
}

.item-q {
  width: 80px;
  border: 1px solid black;
  border-radius: 1px;
  margin-left: 100px;
}

.item-qty {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

@media all and (max-width: 5000px) {
  .navbar {
    width: 2000px;
    height: 50px;
  }
  .paradigm-logo {
    width: 500px;
  }
  .carousel {
    width: 2000px;
    height: 700px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
    /* margin-bottom: 0px; */
    background-size: contain;
    /* margin-top:-100px; */
    /* top: -100px; */
    
  }

  .carousel-item {
    height: 700px;
  }

.imgStyles {
  width: 2000px;
}
}




@media all and (max-width: 2000px) {

  .navbar {
    width: 1080px;
    height: 50px;
  }
  .paradigm-logo {
    width: 300px;
  }
  .shop-logo {
    width: 400px;
  }
  .carousel {
    width: 1080px;
    height: 400px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
    /* margin-bottom: 0px; */
    background-size: contain;
    /* margin-top:-100px; */
    /* top: -100px; */
    
  }

  .carousel-item {
    height: 400px;
  }

.imgStyles {
  width: 1080px;
}

}

@media all and (max-width: 1024px) {

  .navbar {
    width: 900px;
  }

.carousel {
  width: 800px;
  height: 400px;
  /* justify-content: space-around; */
}

.imgStyles {
  width: 1000px;
}

}


 @media all and (max-width: 900px) {

 

  .expand {
    width: 80%;
  }

  .about, .about-container {
    width: 90%;
    text-align:justify;
  }

  .about {
    margin: auto;
  }

  .about-container {
    margin: auto;
  }

  .navbar {
    width: 300px;
    margin-right: 0;
    margin-left: 0;
  }

  .paradigm-logo {
    width: 200px;
  }

  #about {
    margin-left: 70px;
  }

  .carousel {
    width: 375px;
    height: 200px;
  }

  .carousel-item {
    height: 200px;
  }

  .shop-logo {
    width: 300px
  }

  .imgStyles {
    width: 375px;
    height: 200px;
  }

  .product-container {
    display: block;
    margin: auto;
    width: 500px;
    max-width: 300px;
  }
  .guitar-container {
    margin-bottom: 20px;
  }

  .card-content, .container-cards, .guitar-container {
    width: 300px;
  }
  .pd-container {
    display: block;
    width: 300px;
    height: 100%;
    margin: auto;
  }

  .item-display {
    width: 300px;
  }

  .item-display img {
    padding: 0;
    width: 300px;
  }

  .guitar-img {
    position: relative;
    width: 300px;
    padding: 0;
  }

  .item-details {
    padding: 0;
  }

  .item-details h1 {
    font-size: medium;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .item-details button {
    margin-top: 10px;
  }


   .checkout-container {
    /* display: grid; */
    position: relative;
    /* grid-template-rows: auto; */
    margin-left: 0;
    width: 375px;
    height: 1000px;
  }

  .summary-container {
    margin-top: 350px;
    display: grid;
    margin-left: 0;
    width: 375px;
    
    height: 100px;
  }

  .summary-container h2 {
    /* height: 100px; */
  }

  .summary-items {
    width: 375px;
  }

  .summary-item-container {
    width: 360px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 0;
    margin-right: 0;
    padding: 5;
  }

  .item-name {
    margin-left: 0;
    padding-left: 10px;
  }

  .item-q {
    margin-left: 50px
  }
  
  .order-summary-container {
    
    position: absolute;
    width: 360px;
    margin: auto;
    
  }
}




